.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    width: 300px;
    margin: 0 auto;
}

.card-content {
    border: 1px solid black;
    padding: 10px 0;

    background: white;
}

.card-content_in {
    margin: 0 -1px;
    padding: 5px 20px;
    background: white;
    color: #36797a;
    font: normal 28px/32px Tahoma,Arial,Helvetica,Sans-Serif;
}

.card-buttons {
    overflow: hidden;
}

.card-button_out {
    display: block;
    width: 50%;
    height: 30px;
    float: left;
    background: url(../i/arrow.png) center top no-repeat;
    text-align: center;
    padding: 20px 0 0 0;
}

.card-button_out.selected {
    height: 85px;
}

.card-button {
    display: inline-block;
    height: 28px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    background: white;
    cursor: pointer;
}

.card-button:hover,
.selected .card-button {
    background: #36797a;
}

.card-button:hover .card-button_in,
.selected .card-button .card-button_in {
    background: none;
    color: white;
}

.card-button_in {
    display: block;
    margin: -1px 10px;
    height: 30px;
    background: white;
    font: normal 18px/30px Tahoma,Arial,Helvetica,Sans-Serif;
    color: #36797a;
}



